{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="box">
            {% for item in iam %}
            <img style="width: 70vh;" class="img mb-0" src="{{ item.photo_small.url }}">
            <div style="background-color: #14161A; width: 100%;" class="title has-text-centered">
                <br>
                <center>
                    {{ item.name }}
                </center>
                <br class="mb-5">
            </div>
            {% endfor %}
        </div>
            <div class="box">
            <hr class="m-3">
            <div class="title has-text-centered">
                More about me
                <hr>
            </div>
            <div class="subtitle">    
Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores soluta excepturi, laudantium facere iste illum, quis quibusdam quas ex vitae impedit molestias, sed cum provident sequi! Hic obcaecati architecto inventore!
Eligendi totam reprehenderit similique ullam hic sequi quis quod nisi velit nemo, mollitia natus temporibus, debitis reiciendis, eaque adipisci placeat nulla rerum. Voluptatibus sit facilis praesentium aspernatur possimus voluptate nesciunt.
Quis minima quae expedita incidunt ex aliquam sunt. Cupiditate molestias at, consectetur natus odio quod molestiae nisi iure! Iusto dolorum placeat corporis aperiam reiciendis? Minima obcaecati amet debitis libero. Aliquam?
Laboriosam est ab, cupiditate necessitatibus reiciendis, pariatur repudiandae ipsam dignissimos praesentium laborum, officiis autem cum? At laboriosam sit rem provident illum quos dolorem consectetur. Voluptas sed expedita sit cupiditate minima!
Maiores sit sunt velit ad. Repellendus totam, accusamus autem hic sed dolore aliquam consectetur vero id maiores voluptate suscipit in possimus animi saepe? Laboriosam aliquid labore eum eligendi harum similique.
Assumenda ducimus autem consequuntur ex unde laboriosam possimus quidem rem error dignissimos officia, dolores, molestias tempora perspiciatis sint voluptas voluptatum non, magni delectus dolorum totam laudantium eligendi omnis reiciendis. Quaerat.
Cupiditate repellat nihil nulla quis necessitatibus quibusdam vero ab libero. Porro omnis et dolore deserunt voluptates sequi cupiditate consectetur cum sapiente, nemo totam expedita aspernatur unde quis, laboriosam vitae reprehenderit?
Porro reiciendis vitae ratione iste repellat consectetur debitis, libero voluptatum expedita eius repudiandae adipisci! Unde pariatur quo quidem explicabo! Ad nihil aliquid dolor voluptates inventore deserunt numquam perferendis illum qui.
Dicta et incidunt ea laborum adipisci libero a quia blanditiis sequi iusto aliquid, assumenda ullam consectetur quas, culpa vel, aliquam cupiditate debitis earum odit voluptates labore nostrum? Sapiente, aliquid voluptate!
Voluptate in, consectetur veniam dolorem quis nam ad, modi, quos sit quam dolore rerum. Maxime, ex amet soluta voluptatibus debitis voluptas maiores sapiente illum autem, quisquam iusto, magnam ratione et.
Quisquam quibusdam distinctio aperiam laudantium praesentium ad non, tenetur impedit, nisi libero iste, voluptates natus? Eos nostrum dignissimos doloremque natus modi, voluptatibus et harum accusantium iste perferendis quisquam commodi sint!
Quo suscipit beatae maiores adipisci qui, consequatur ducimus similique ut ipsam consequuntur. Iusto iure saepe nam non sunt magnam asperiores. Sit dignissimos voluptatum vero vel consequatur repudiandae dolores corrupti dolorem.
Quidem, earum temporibus. Temporibus tenetur eos suscipit deleniti esse tempora odio, excepturi aut obcaecati alias laborum laboriosam labore rem impedit assumenda consequatur voluptatum nobis aspernatur cupiditate iste corporis. Deserunt, similique.
Inventore assumenda animi sed quibusdam atque nisi. Itaque saepe maiores doloribus delectus aut quas possimus a iure accusantium omnis! Illum eaque dolores velit odio eos sequi deleniti veritatis laboriosam veniam.
Dolor qui fugiat vitae quod, ex adipisci optio enim expedita sapiente, voluptates accusantium. Vitae alias est aut fugiat, amet veritatis delectus harum optio impedit vero sunt quos laboriosam dicta velit.
Dolores harum id facere nobis ex nihil, hic repellendus omnis, doloribus nesciunt, fuga ut velit cum repellat. Quas in ullam ipsa obcaecati, nulla repellat voluptatem dolorem ea. Quas, officia placeat?
Autem qui, quae nesciunt quisquam deserunt reprehenderit hic aliquam recusandae necessitatibus exercitationem iste quam maxime veniam facilis eos? Magni, animi odit atque omnis explicabo laboriosam fugit laudantium recusandae! Asperiores, aut?
Corrupti sunt dolorum quibusdam ipsa eos. Similique fugiat dicta minima repudiandae excepturi quod magnam vero ullam error facilis quas, quos recusandae ducimus autem exercitationem voluptate accusamus dolor iure quam voluptatum?
Doloremque molestias impedit possimus sunt dolorem aspernatur, explicabo vitae tenetur, libero corrupti quasi excepturi rem quae cupiditate, voluptatem inventore sequi pariatur? Aliquid dignissimos provident eius maxime corrupti, ratione magni perferendis!
Itaque, reprehenderit porro iusto veritatis repellendus quia similique dolore sapiente iure voluptates quos. Sapiente consectetur aliquam dolor animi mollitia fugit nobis laudantium deserunt minima natus, hic quia soluta reiciendis illum.
            </div>
        </div>
    </div>
</div>
{% endblock %}